<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vindasoft.order.mapper.UserManageMapper">

    <!-- 根据用户名称查询用户信息 -->
    <select id="queryUserInfoByUserName" resultType="UserInfo">
        select user_id  as userId,
               user_name as userName,
               password as password,
               status as status,
               remark as remark
        from t_business_user_info t
        where t.user_name = #{userName}
    </select>

    <!-- 获取所有用户信息 -->
    <select id="getAllUserInfos" resultType="UserInfo">
        select user_id  as userId,
               user_name as userName,
               password as password,
               status as status,
               remark as remark
        from t_business_user_info t
        <where>
            <if test="userName != null and userName != ''">
                instr(t.user_name, #{userName}) > 0
            </if>
        </where>
    </select>

    <!-- 新增用户信息 -->
    <insert id="insertUserInfo">
        insert into t_business_user_info(
            user_id,
            user_name,
            password,
            status,
            remark
        ) values(#{userId},
                 #{userName},
                 #{password},
                 #{status},
                 #{remark})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUserInfo">
        update t_business_user_info
        set password=#{password},
            status=#{status},
            remark=#{remark}
        where user_id = #{userId}
    </update>

    <!-- 删除用户信息 -->
    <delete id="deleteUserInfo">
        delete from t_business_user_info
        where user_id = #{userId}
    </delete>
</mapper>